@model BnsBazarApp.Models.DTOs.CreateUserDTO

@{
    ViewData["Title"] = "Create";
    string errorMessage = ViewBag.CreateUserError ?? "";
}

<h1>Create</h1>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createUserForm" asp-action="Create">
            @{
                if (string.IsNullOrWhiteSpace(errorMessage) == false)
                {
                    <label class="text-danger">@errorMessage</label>
                }
            }

            <label id="userFormMessage" class="text-danger"></label>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="createUserPassword" asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label"></label>
                <input id="createUserConfirmation" asp-for="PasswordConfirmation" class="form-control" type="password" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

<script src="~/js/authentication.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
